*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-family: inherit;
}

*:focus {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

input {
    border: none;
    outline: none;
}

html,
body {
    font-size: 16px;
    width: 100%;
    height: 100%;
    margin: 0;
    color: #fff;
    font-family: "Major Mono Display", monospace;
    scroll-behavior: smooth;
    background: #38593B;
}

/*-------------------------------------------------------------------*/

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.container {
    box-sizing: content-box;
    padding: 0 15px;
    max-width: 1710px;
    margin: 0px auto;
}

.main {
    flex: 1 1 auto;
}

.main_p {
    flex: 1 1 auto;
}

.main_t {
    flex: 1 1 auto;
}

/* ------------------------------------------- */

.header {
    background: #111;
}

.nav {
    width: 100%;
    display: flex;
    align-items: top;
    justify-content: space-between;
}

.nav__link {
    display: block;
}

.nav__link {
    font-size: 64px;
    text-transform: uppercase;
    font-family: "Magra", sans-serif;
}

.header__promo {
    margin: 0 auto;
}

.header__promo {
    background: url(../img/promo_fh.png);
    width: 100%;
    height: 250px;
}

.title {
    font-size: 36px;
    text-align: center;
}

.main-1 {
    margin: 45px 0 90px 0;
    display: flex;
    justify-content: space-between;
}

.main-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    background-color: #111;
    padding: 20px 0;
}

.footer .nav__link {
    font-size: 32px;
}

.main_p {
    display: none;
}

.main_t {
    display: none;
}

@media(max-width: 1331px) {
    .main_p {
        display: flex;
        justify-content: space-between;
    }

    .main {
        display: none;
    }

    .header {
        background: #111;
    }

    .nav {
        width: 100%;
        display: flex;
        align-items: top;
        justify-content: space-between;
    }

    .nav__link {
        display: block;
    }

    .nav__link {
        font-size: 48px;
        text-transform: uppercase;
        font-family: "Magra", sans-serif;
    }

    .header__promo {
        margin: 0 auto;
    }

    .header__promo {
        background: url(../img/promo_p.png);
        width: 100%;
        height: 149px;
    }

    .title {
        font-size: 28px;
        text-align: center;
    }

    .main-1 {
        margin: 145px 20px 0 0;
        display: block;
    }

    .main-1 .title {
        margin: 0 0 20px 0;
    }

    .main-2 {
        display: block;
    }

    .footer {
        background-color: #111;
        padding: 20px 0;
    }

    .footer .nav__link {
        font-size: 24px;
    }

    .img-1 {
        width: 519px;
        height: 235px;
        margin: 0 0 45px 0;
    }

    .img-2 {
        width: 519px;
        height: 192px;
    }
}

@media(max-width: 391px) {
    .main_p {
        display: none;
    }

    .main_t {
        display: block;
    }

    .main {
        display: none;
    }

    .header {
        background: #111;
    }

    .nav {
        width: 100%;
        display: flex;
        align-items: top;
        justify-content: space-between;
    }

    .nav__link {
        display: block;
    }

    .nav__link {
        font-size: 12px;
        text-transform: uppercase;
        font-family: "Magra", sans-serif;
    }

    .header__promo {
        margin: 0 auto;
    }

    .header__promo {
        background: url(../img/promo_m.png);
        width: 100%;
        height: 47px;
    }

    .title {
        font-size: 12px;
        text-align: center;
    }

    .main-1 {
        margin: 20px 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .main-1 .title {
        margin: 0 0 20px 0;
    }

    .main-2 {
        display: block;
    }

    .footer {
        background-color: #111;
        padding: 20px 0;
    }

    .footer .nav__link {
        font-size: 12px;
    }

    .img-1 {
        width: 369px;
        height: 179px;
        margin: 0 auto 45px auto;
    }

    .img-2 {
        width: 371px;
        height: 229px;
        margin: 0 auto;
    }
}